<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
    <script src="http://code.jquery.com/jquery.js"></script>

</head>
<body>
    {% for msg in get_flashed_messages() %}
      <li>{{ msg }}</li>
    {% endfor %}
    {% if 'user_name' in session %}
      <form id="logout" method=GET action="logout">
        <button type="submit" id="logout">Log Out</button>
      </form>
    {% endif %}
    {% block content %}BODY CONTENT GOES HERE{% endblock %}

</body>
</html>