{% extends 'base.html' %}

{% block title %}Display Weather{% endblock %}

{% block content %}
<h1>Display Weather for <span id="month-title"></span></h1>

<table style="width:50%">
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Summary</th>
      <th>Temperature High</th>
      <th>Temperature Low</th>
    </tr>
    {% for weather in weathers %}
    <tr>
      <td>{{ weather.city.city_name }} </td>
      <td>{{ weather.city.country_code }} </td>
      <td>{{ weather.summary }} </td>
      <td>{{ weather.temp_high }} </td>
      <td>{{ weather.temp_low }} </td>      
    
    </tr>
     {% endfor %}     
</table>
{% endblock %}