{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Registration Page</h2>
<form action="register-verify" method="POST">
    First name:<br>
    <input type="text" class="maintain" name="firstname"><br>
    Last name:<br>
    <input type="text" class="maintain" name="lastname"><br>
    Email:<br>
    <input type="text" class="maintain" name="email"><br>
    Password:<br>
    <input type="password" class="maintain" name="password"><br>
    <input class="btn btn-default btn-btnselect" type="submit" value="Submit">
  </form>
{% endblock %}