{% extends 'base.html' %}

{% block title %}Weather Map

{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 1000px;
       }
       #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 5px;
        margin: 5px;
        border: 3px solid #000;
      }
     
    </style>
  </head>
  <body>
  <div class="container">
    <div class="row">
      {% if 'user_name' in session %}
        <form id="logout" method=GET action="logout">
          <button class="btn btn-default btn-btnselect" type="submit" id="logout">Log Out</button>
        </form>
      {% endif %}
      <div><h3>Welcome, {{ session['user_name'] }}</h3></div>
    </div>
  <div class="row">  
  <div id="disply-home">  
    <p id="has-hometown"
    {% if 'hometown' not in session %}
      hidden
    {% endif %}
      >Your departure city is: <span id="hometown-name">{{ session['hometown_name'] }}</span></p>
    <p id="no-hometown"
    {% if 'hometown' in session %}
      hidden
    {% endif %}
      >Please select your departure city by clicking a marker on the map</p>
  </div>
  <div>
  <!-- dropdown form for user to select month -->
    <form id="month-pick">
      <div id="month-dropdown"
      {% if 'hometown' not in session %}
      hidden
      {% endif %}
      >
       <p>Please select a month.</p>
        <select class="btn btn-default btn-btnselect" id="pick-month" name="month" width="100"
      {% if 'hometown' not in session %}
      value="January"
      {% endif %}
        >
          {% for month in month_list %}
          <option id="{{ month[0] }}" value="{{ month[0] }}">{{ month[0] }}</option>
          {% endfor %}
          </select>
      </div>
      <p></p>
      <p>Please select a zoom area.</p>
        <select class="btn btn-default btn-btnselect" id="select-region" name="regions">
          <option id="asia" value="asia">Asia</option>
          <option id="africa" value="africa">Africa</option>
          <option id="north-america" value="north-america">North America</option>
          <option id="south-america" value="south-america">South America</option>
          <option id="oceania" value="oceania">Oceania</option>
          <option id="europe" value="europe">Europe</option>
        </select>
        <input class="btn btn-default btn-btnselect" type="submit" id="weather-search" value="Search" class="weather-search">
    </form>
  </div> 
  </div>    
  <div class="row">
    <h4>Recommended route for the shortest flight home: </h4>
    <p id="path"></p>
  </div>
</div>
<div class="container">
  <div class="row">
  <div>
    <h3><span id="month-title"></span> World Weather</h3>
    <div id="map"></div>
    <div id="legend"><h4>Legend</h4></div>
  </div>
  <script src="/static/map.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwecRj8BnwNeAVuHQvmW-GQy7ZQLk27jk&callback=initMap">
  </script>
    <div id="saved-cities">
      <h2>Saved Cities</h2>
      <table id="saved-cities-table">  
        <tr>
          <th>Check</th>          
          <th>Month</th>
          <th>City</th>
          <th>Summary</th>
          <th>Temperature High</th>
          <th>Temperature Low</th>
        </tr>
        {% if weathers %}
          {% for weather in weathers %}
          <tr>
            <td><input type="checkbox" class="check" 
              id="{{ weather.weather.city.city_name }}" 
              value="{{ weather.weather.city.city_name }}" 
              data-lat="{{ weather.weather.city.city_lat }}" 
              data-lng="{{ weather.weather.city.city_long }}" 
              data-del="{{ weather.weather.weather_id }}" /></td>
            <td>{{ weather.weather.month }} </td>
            <td>{{ weather.weather.city.city_name }} </td>
            <td>{{ weather.weather.temp_high }} </td>
            <td>{{ weather.weather.temp_low }} </td> 
            <td>{{ weather.weather.summary }} </td>               
          </tr>
          {% endfor %} 
        {% endif %}    
          <button class="btn btn-default btn-btnselect buttons" id="path-planner">Plan Trip</button>
          <button class="btn btn-default btn-btnselect buttons" id="delete-cities">Delete Cities</button>       
      </table>
    </div>
  </div>
</div>
  </body>
</html>
{% endblock %}