{% extends 'base.html' %}

{% block title %}Weather Map

{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 1000px;
       }
       #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 5px;
        margin: 5px;
        border: 3px solid #000;
      }
    </style>
  </head>
  <body>
      <h3>Welcome, {{ session['user_name'] }}</h3>
  <!-- dropdown form for user to select month -->
  <form id="month-pick" action="/lat-long.json" method=POST>
    Please select a month.
    <select id="pick-month" name="month">
      {% for month in month_list %}
      <option id="{{ month[0] }}" value="{{ month[0] }}">{{ month[0] }}</option>
      {% endfor %}
    </select>
    <br>
   <!--  Please select a minimum temperature to filter the cities.
    <select id="select-temp" name="temp">
      <option id="empty" value="empty">None</option>
      <option id="eight" value="eight">80</option>
      <option id="seventy" value="seventy">70</option>
      <option id="sixty" value="sixty">60</option>
      <option id="fifty" value="fifty">50</option>
      <option id="forty" value="forty">40</option>
      <option id="thirty" value="thirty">30</option>
    </select>
    <br> -->
    Please select a zoom area.
    <select id="select-region" name="regions">
      <option id="asia" value="asia">Asia</option>
      <option id="africa" value="africa">Africa</option>
      <option id="north-america" value="north-america">North America</option>
      <option id="south-america" value="south-america">South America</option>
      <option id="oceania" value="oceania">Oceania</option>
      <option id="europe" value="europe">Europe</option>
    </select>
    <input type="submit" id="weather-search" value="Search" class="weather-search">

  </form>

    <h3><span id="month-title"></span> World Weather</h3>
    <div id="map"></div>
    <div id="legend"><h4>Legend</h4></div>
    <script src="/static/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwecRj8BnwNeAVuHQvmW-GQy7ZQLk27jk&callback=initMap">
    </script>

  </body>
</html>

{% endblock %}