{% extends 'base.html' %}

{% block title %}Weather Map

{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 1000px;
       }
       #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 5px;
        margin: 5px;
        border: 3px solid #000;
      }
    </style>
  </head>
  <body>
      <h3>Welcome, {{ session['user_name'] }}</h3>
  <!-- dropdown form for user to select month -->
  <form id="month-pick">
    Please select a month.
    <select id="pick-month" name="month">
      {% for month in month_list %}
      <option id="{{ month[0] }}" value="{{ month[0] }}">{{ month[0] }}</option>
      {% endfor %}
    </select>
    <br>
   
    Please select a zoom area.
    <select id="select-region" name="regions">
      <option id="asia" value="asia">Asia</option>
      <option id="africa" value="africa">Africa</option>
      <option id="north-america" value="north-america">North America</option>
      <option id="south-america" value="south-america">South America</option>
      <option id="oceania" value="oceania">Oceania</option>
      <option id="europe" value="europe">Europe</option>
    </select>
    <input type="submit" id="weather-search" value="Search" class="weather-search">
    </form>

    <div>
    <h3><span id="month-title"></span> World Weather</h3>
    <div id="map" style="float: left"></div>
    <div id="legend"><h4>Legend</h4></div>
    </div>
    <script src="/static/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwecRj8BnwNeAVuHQvmW-GQy7ZQLk27jk&callback=initMap">
    </script>
    <div id="saved-cities" style="float: left;" textalign="center">
         
      <table id="saved-cities-table" style="width:50%">
        {% if not weathers %}
        hidden
        {% endif %}
          <tr>
            <th>Check</th>          
            <th>Month</th>
            <th>City</th>
            <th>Summary</th>
            <th>Temperature High</th>
            <th>Temperature Low</th>
          </tr>
          {% for weather in weathers %}
          <tr>
            <td><input type="checkbox" class="check" id="{{ weather.weather.city.city_name }}" value="{{ weather.weather.city.city_name }}" data-lat="{{ weather.weather.city.city_lat }}" data-lng="{{ weather.weather.city.city_long }}" /></td>
            <td>{{ weather.weather.month }} </td>
            <td>{{ weather.weather.city.city_name }} </td>
            <td>{{ weather.weather.temp_high }} </td>
            <td>{{ weather.weather.temp_low }} </td> 
            <td>{{ weather.weather.summary }} </td>
                      
          </tr>
           {% endfor %}  
           <button class="buttons" id="path-planner">Plan my trip</button>   
      </table>
        </div>
  </body>
</html>

{% endblock %}